html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #d2d2d2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background: #0b0a1fab;
  height: 10vh;
  box-shadow: 0px 8px 11px 6px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_updated_container {
  font-size: 1,6rem;
}

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.logo_container {
  width: 385px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo_image {
  width: 9vh;
}

.logo_text {
  font-size: 3rem;
}

/* __________________________________________main */
main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general_grid {
  display: grid;
  grid-template-columns: 25% 46% 25%;
  grid-template-rows: 70vh;
  row-gap: 1vw;
  column-gap: 1vw;
  align-content: center;
  justify-content: center;
}

.additional_grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 49% 49%;
  row-gap: 1vw;
  align-content: center;
}

.countries_widget, .map_widget, .info_widget, .graph_widget {
  background-color: #5b5b69;
  border-radius: 10px;
}

/* _________________________________________footer */

footer {
  background: #0b0a1fab;
  height: 10vh;
  box-shadow: 0px -2px 14px 10px;
  position: relative;
}

footer, footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gh_links {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5vw;
}

.gh_icon {
  width: 4vh;
}

.rss_logo {
  width: 9vh;
  transition: 0.3s ease-out;
  display: inline;
}

.gh_links a, .gh_links span {
  text-decoration: none;
  color: #d2d2d2;
  font-size: 1,4rem;
  transition: 0.3s ease-out;
}

/* _________________________________________hover: */

.rss_logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.gh_links a:hover {
  transform: scale(1.1);
  color: #ff0000;
  transition: 0.3s ease-out;
}

/* _________________________________________media */

@media screen and (max-width: 1024px) {
  main {
    height: fit-content;
    margin: 2vh 0;
  }

  .general_grid {
    grid-template-columns: 33vw 61vw;
    grid-template-rows: 70vh 28vw;
  }
  
  .additional_grid {
    grid-template-columns: 132% 153%;
    grid-template-rows: 100%;
    column-gap: 1vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 768px) {
  .general_grid {
    grid-template-columns: 33vw 61vw;
    grid-template-rows: 50vh 20vh 25vh;
  }
  
  .additional_grid {
    grid-template-columns: 132% 153%;
    grid-template-rows: 100%;
    column-gap: 1vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .countries_widget {
    width: 288%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .map_widget {
    width: 288%;
  }

  .last_updated_container {
    font-size: 1,6rem;
  }

  .logo_text {
    font-size: 2,2rem;
  }

  .logo_container {
    width: 310px;
  }
}